server {
    listen       8080;
    server_name  _;

    location / {
        root   /opt/app-root/src/html;
        index  index.html index.htm;
    }
    error_page  404              /404.html;
    location = /40x.html {
        root   /opt/app-root/src/html;
    }
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /opt/app-root/src/html;
    }
    
    location /nginx_status {
        # Enable Nginx stats
        stub_status on;
        # Only allow access from your IP e.g 1.1.1.1 or localhost #
        allow 127.0.0.1;
        allow 1.1.1.1
        #Other request should be denied
        deny all;
    }
}
